{% extends "layout.html" %}

{% block title %}
    Home
{% endblock title %}

{% block main%}
    <div class="container">
        <div class="row mb-5">
            <h2>Usage</h2>
            <p>Here goes usage description. It should not be too long but it might have a full paragrapg or two.</p>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <!-- Plot -->
                <div class="row d-flex justify-content-center">
                    <img class="plot-image px-5" src="{{ plot_image }}">
                </div>
                <!-- Table with satelites owned by user -->
                {% if current_user.is_authenticated %}
                    <div class="row">
                        <div class="row my-5">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Initial position</th>
                                            <th>Initial velocity</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in user_satelites %}
                                            <tr>
                                                <td>{{ row.name }}</td>
                                                <td>{{ row.pos_0 }}</td>
                                                <td>{{ row.vel_0 }}</td>
                                                <td>DeleteBtn</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div> 
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-3">
                <!-- Form to add satelites -->
                <form method="POST" action="">
                    <!-- Security related -->
                    {{ form.hidden_tag() }}
            
                    <fieldset class="form-group">
                        <legend class="border-bottom border-dark mb-4">Add Satelite</legend>
                        <div class="form-group">
                            {{ form.name.label(class="form-control-label") }}
                            <!-- Handle messages to users about wrong information -->
                            {% if form.name.errors %}
                                {{ form.name(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.name(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.pos.label(class="form-control-label") }}
                            <!-- Handle messages to users about wrong information -->
                            {% if form.pos.errors %}
                                {{ form.pos(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.pos.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.pos(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.vel.label(class="form-control-label") }}
                            <!-- Handle messages to users about wrong information -->
                            {% if form.vel.errors %}
                                {{ form.vel(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.vel.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.vel(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
                <!-- Form plot all satelites -->
                {% if current_user.is_authenticated %}
                    <form method="POST" action="">
                        <!-- Security related -->
                        {{ plot_form.hidden_tag() }}
                
                        <fieldset class="form-group">
                            <legend class="border-bottom border-dark mb-4">Generate Plot</legend>
                            <div class="form-group">
                                {{ plot_form.view_angles.label(class="form-control-label") }}
                                <!-- Handle messages to users about wrong information -->
                                {% if plot_form.view_angles.errors %}
                                    {{ plot_form.view_angles(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in plot_form.view_angles.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ plot_form.view_angles(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="form-group">
                            {{ plot_form.submit(class="btn btn-outline-info") }}
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>    
{% endblock main %}